*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cart_container{
    height: 420px;
    width: 230px;
    margin: 30px 20px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    overflow: hidden; 
    transition: transform 1s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.cart_container h3{
    margin: 10px auto;
    font-size: 19px;
}
.cart_container:hover{
    transform: scale(1.05);
    border: 2px solid rgb(216, 160, 7);
}
.cart_container  img {
    width: 100%;
    height: 240px;    
}
.cart_container button{
    padding: 1rem 3rem;
    margin: 10px auto 10px auto;
    background-color: #F29D13;
    color: white;
    font-weight: 600;
    font-size: 12px;
}
.cart_container p{
    margin: 3rem 0 0 0;
    font-weight: 700;
    font-size: 14px;
    color: #F29D13;
}