*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(https://assets.indolj.io/upload/1697727771-background.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.container .banners{
  width: 100%;
  border-radius: 20px;
}
.slider-img-container {
  width: 90%;
}
.slider-img-container img{
  width: 100%;
}
.header{
  height: 60px;
  background-color: rgb(216,160,7);
}
.links{
  height: 100%;
  margin: 40px 30px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}