*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-div{
    width: 500px;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 120px auto auto auto;
    border: 2px solid grey;
}
h1{
    text-align: center;
    font-size: 42px;
    margin: 20px 0 30px 0;
}
.input{
    width: 380px;
    margin: 20px auto;
    padding: 10px;
    background: #cfcfcf;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
}
.input img{
    margin: 0 10px;
}
.input input{
    background: none;
    width: 250px;
    border: none;
    height: 30px;
    outline: none;
}
button{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    margin: 10px 10.3rem;
    background-color: rgb(23, 172, 23);
    border: green;
    transition: transform 1s ease-in;
}
button:hover{
    transform: scale(1.2);
}
Link{
    margin: 5px 10px;
}                                                                                                                        